* {
    margin: 0;
}

#cuerpo {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 120px 100% 120px;
}


/*Header*/

header {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: #025159;
    position: sticky;
    top: 0;
    z-index: 2;
}

#logo {
    display: flex;
    justify-content: center;
    width: 50%;
}

#logo img {
    height: 10vh;
    width: auto;
}

#logBus {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

#logIn {
    display: flex;
    width: 15vw;
    justify-content: space-around;
    align-items: center;
}

#logIn a {
    color: white;
    text-decoration: none;
    padding: 2%;
}

#logIn a:hover {
    background-color: grey;
    border-radius: 25px;
}


#logIn a img {
    height: 5vh;
    width: 5vh;
    border-radius: 25px;
}

#logIn a:last-child:hover {
    background-color: #025159;
}

#formulario {
    display: flex;
}

#inputBuscar {
    height: 5vh;
    width: 25vw;
    border-radius: 20px 0 0 20px;
    padding-left: 1vw;
    border: none;
}

#botonBuscar {
    height: 5vh;
    border-radius: 0 20px 20px 0;
    border: none;
    margin-right: 10%;
}

#botonBuscar:hover{
    cursor: pointer;
    background-color: aqua;
}

/*Cuerpo*/

#filtro {
    background-color: #3F858C;
    height: 103%;
}

#publicaciones {
    margin-top: -10vh;
    display: flex;
    background-color: #7AB8BF;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/*publis*/

.publicacion {
    display: grid;
    grid-template-rows: 50px 40px 4fr;
    background-color: #C4EEF2;
    border-radius: 25px;
    padding: 1%;
    width: 30vw;
    height: auto;
    max-height: 60vh;
    max-width: 40vw;
    margin: 1%;
}

.cuerpoPubli {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.imagenPubli img{
    max-width: 100%;
    max-height: 60vh;
    height: auto;
    display: block;
}

.imagenPubli {
    max-height: 50%;
}

.publiHeader img {
    height: 40px;
    width: 40px;
    border-radius: 50vh;
}

.publiHeader {
    display: flex;
    justify-content: space-between;
}

.publiHeader i:hover:first-child {
    color: orange;
}

.publiHeader i:hover:last-child {
    color: red;
}

.likes {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}


/*Filtro*/

#filtro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
}

#menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vw;
    height: 50vh;
}

#filtro a {
    font-size: 3vh;
    display: flex;
    height: 6vh;
    width: 11vw;
    border-radius: 25px;
    align-items: center;
    padding-left: 2vw;
    text-decoration: dashed;
    color: white;
}

#filtro i {
    padding-right: 2vw;
}

#filtro a:hover {
    background-color: grey;
}


/*Footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #025159;
    grid-column-start: 1;
    grid-column-end: 6;
    position: fixed;
    top: 90vh;
    bottom: 0;
    right: 0;
    left: 0;

}


/*Register*/

#logInParentDiv {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 100% 120px;
}

#logInSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F858C;
    position: fixed;
    width: 100%;
}

#logInDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    border-radius: 25px;
    background-color: #025159;
    flex-direction: column;
    color: white;
}

#logInDiv a{
    color: #7AB8BF;
}

#logInDiv a:hover{
    color: #3F858C;
}

#logInDiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logInDiv form input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin: 2%;
    border: none;
    padding-left: 3%;
}

/*Log In*/

#registerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 2%;
    border-radius: 10%;
    background-color: #025159;
    flex-direction: column;
    color: white;
}

#registerDiv a{
    color: #7AB8BF;
}

#registerDiv a:hover{
    color: #3F858C;
}

#registerDiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registerDiv form input{
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin: 2%;
    border: none;
    padding-left: 3%;
}